<%- include('partials/nav.ejs')%>
<img width="1920" height="559" src="https://boxtechnologies.com/wp-content/uploads/2021/06/Screenshot-2021-06-28-at-14.32.13.png" class="attachment-full size-full snipcss-tY77J" alt="" decoding="async" fetchpriority="high">
<article class="content-block__content rich-text sr-fade ls1col w-narrow snipcss-s5oRp style-BXPXO" data-sr-id="14" id="style-BXPXO">
    <div class="content-block__content-col">
      <h2 class="p1">
        Taking software to the next level
      </h2>
      <p class="p2">
        Our device platforms are powered by products from the biggest names in software: Microsoft, Android and Linux. We’ve then built on this foundation to take device management to the next level with INEFI, our industry-leading Unified Endpoint Management system. With this innovation, we can deliver SMART Remote Management and future service models to any device, anywhere.
      </p>
      <p class="p2">
        And our specialist digital team has content covered for you with our cloud-based CMS. Centralised updates and market-leading integrations give you the future of on-location personalisation, interactivity and content delivery right now.
      </p>
      <h2 class="p1">
        We’ve got your back
      </h2>
      <p class="p2">
        You never have to worry when dealing with Boxtec. The best technical support in the industry is built into every stage of our process – from collaborative pre-sales work all the way through to on-site maintenance. Our friendly and helpful team will work with you to define service levels and expectations, so you’ll always know where you stand.
      </p>
      <h2 class="p1">
        Services managed by specialists
      </h2>
      <p class="p2">
        From motherboard design to pan-European rollouts, we manage every part of the supply chain for you. Our in-house specialists include field services engineers and industry managed service professionals who will look after every link in the chain.
      </p>
    </div>
  </article>
  
