<header id="site-header" class="masthead masthead-standard snipcss-5slW2">
    <div class="masthead__logo">
      <a href="/">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="../public/script/script.js"></script>
        
        
      </a>
    </div>
    <nav class="site-navigation__desktop">
      <ul id="desktop-menu" class="menu">
        <li id="menu-item-2492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2492">
          <a class="active" href="/who">
            Who we help
          </a>
          <ul class="sub-menu">
            <li id="menu-item-2528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2528">
              
            </li>
            <li id="menu-item-2497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2497">
             
              
            </li>
            <li id="menu-item-2495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495">
              
            </li>
            <li id="menu-item-2494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2494">
             
            </li>
            <li id="menu-item-2493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2493">
              
            </li>
            <li id="menu-item-2496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2496">
             
            </li>
          </ul>
        </li>
        <li id="menu-item-2504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2504">
          <a href="/tech">
            Our technology
          </a>
          <ul class="sub-menu">
            <li id="menu-item-2527" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2527">
              
            </li>
            <li id="menu-item-2524" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2524">
             
                <div class="menu-rollover">
                  <img width="300" height="111" src="https://boxtechnologies.com/wp-content/uploads/2023/02/inefi-logo-with-TM-1873x691px-1-1-1-300x111.png" class="attachment-medium size-medium" alt="" decoding="async">
                  <div class="menu-rollover__text">
                  </div>
                </div>
              </a>
            </li>
            <li id="menu-item-2511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2511">
             
            </li>
            <li id="menu-item-2512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2512">
            
            </li>
            <li id="menu-item-2510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2510">
              
            </li>
            <li id="menu-item-2513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2513">
             
            </li>
            <li id="menu-item-2508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2508">
              
            </li>
            <li id="menu-item-2506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2506">
             
            </li>
            <li id="menu-item-2505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2505">
              
            </li>
            <li id="menu-item-2507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2507">
              
            </li>
            <li id="menu-item-2509" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2509">
             
            </li>
          </ul>
        </li>
       
            <li id="menu-item-2526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2526">
             
            </li>
            <li id="menu-item-2879" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2879">
              
            </li>
            <li id="menu-item-2516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2516">
              
            </li>
            <li id="menu-item-2522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2522">
              
              </a>
            </li>
            <li id="menu-item-2518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2518">
             
              </a>
           
        <li id="menu-item-2498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2498">
          <a href="/choose">
            Why choose us?
          </a>
          <ul class="sub-menu">
            <li id="menu-item-2525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2525">
              <a href="https://boxtechnologies.com/why-choose-us/">
                Overview
              </a>
            </li>
            <li id="menu-item-2514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2514">
              <a href="https://boxtechnologies.com/why-choose-us/case-studies/">
                Case studies
              </a>
            </li>
            <li id="menu-item-2499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2499">
              <a href="https://boxtechnologies.com/why-choose-us/expert-insight/">
                Expert insight
              </a>
            </li>
            <li id="menu-item-2500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2500">
              <a href="https://boxtechnologies.com/why-choose-us/our-partners/">
                Our partners
              </a>
            </li>
            <li id="menu-item-2503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2503">
              <a href="https://boxtechnologies.com/why-choose-us/our-strengths/">
                Our strengths
              </a>
            </li>
          </ul>
        </li>
        <li id="menu-item-2548" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2548">
          <a href="/about">
            About us
          </a>
          <ul class="sub-menu">
            <li id="menu-item-2617" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2617">
              <a href="https://boxtechnologies.com/visitus/">
                Visit Us
              </a>
            </li>
            <li id="menu-item-2805" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2805">
              <a href="https://boxtechnologies.com/tech-centre/">
                Tech Centre
              </a>
            </li>
            <li id="menu-item-2776" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2776">
              <a href="https://boxtechnologies.com/get-in-touch/">
                Get in touch
              </a>
            </li>
          </ul>
        </li>
       
            <li id="menu-item-2870" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2551 current_page_item menu-item-2870">
           
              </a>
            </li>
            <li id="menu-item-2869" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2869">
         
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="masthead__utils">
      <ul id="dt-right-nav">
        <li>
          <a href="/index">
            home
          </a>
        </li>
        <li>
          <a href="/contact">
            Get in touch
          </a>
        </li>
      </ul>
      <div class="utils__search">
        <a class="search-open">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
            <path d="M16.743 8.375A8.368 8.368 0 006.523.207a8.368 8.368 0 00-.042 16.312 8.367 8.367 0 007.083-1.588L18.635 20 20 18.636l-5.07-5.07a8.323 8.323 0 001.813-5.191zM8.37 14.81a6.435 6.435 0 01-4.553-1.885 6.43 6.43 0 010-9.103 6.435 6.435 0 019.106 0 6.43 6.43 0 010 9.103A6.435 6.435 0 018.37 14.81z">
            </path>
          </svg>
        </a>
      </div>
    </div>
    <nav class="site-navigation__mobile mm-wrapper">
      <div id="mobile-menu__wrapper" class="mm-menu mm-menu_border-none mm-menu_fx-panels-slide-100">
        <div class="mm-panels">
          <div id="mobile-menu" class="mm-panel mm-panel_opened">
            <div class="mm-navbar">
              <a class="mm-navbar__title">
                <span>
                  Explore the site
                </span>
              </a>
            </div>
            <ul class="menu mm-listview">
              <li id="menu-item-859" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-859 mm-listitem">
                <a href="https://boxtechnologies.com/who-we-help/" class="mm-listitem__text">
                  Who we help
                </a>
                <a class="mm-btn mm-btn_next mm-listitem__btn" href="#mm-0">
                  <span class="mm-sronly">
                    Open submenu
                  </span>
                </a>
              </li>
              <li id="menu-item-837" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-837 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/" class="mm-listitem__text">
                  Our technology
                </a>
                <a class="mm-btn mm-btn_next mm-listitem__btn" href="#mm-1">
                  <span class="mm-sronly">
                    Open submenu
                  </span>
                </a>
              </li>
              <li id="menu-item-848" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-848 mm-listitem">
                <a href="https://boxtechnologies.com/services/" class="mm-listitem__text">
                  Services
                </a>
                <a class="mm-btn mm-btn_next mm-listitem__btn" href="#mm-2">
                  <span class="mm-sronly">
                    Open submenu
                  </span>
                </a>
              </li>
              <li id="menu-item-865" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-865 mm-listitem">
                <a href="https://boxtechnologies.com/why-choose-us/" class="mm-listitem__text">
                  Why choose us?
                </a>
                <a class="mm-btn mm-btn_next mm-listitem__btn" href="#mm-3">
                  <span class="mm-sronly">
                    Open submenu
                  </span>
                </a>
              </li>
              <li id="menu-item-857" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-857 mm-listitem">
                <a href="https://boxtechnologies.com/sustainability-csr/" class="mm-listitem__text">
                  Sustainability &amp; CSR
                </a>
              </li>
              <li id="menu-item-870" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-870 mm-listitem">
                <a href="https://boxtechnologies.com/visitus/" class="mm-listitem__text">
                  Visit Us
                </a>
              </li>
              <li id="menu-item-2806" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2806 mm-listitem">
                <a href="https://boxtechnologies.com/tech-centre/" class="mm-listitem__text">
                  Tech Centre
                </a>
              </li>
              <li id="menu-item-871" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-871 mm-listitem">
                <a href="https://boxtechnologies.com/get-support/" class="mm-listitem__text">
                  Get support
                </a>
              </li>
              <li id="menu-item-2778" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2778 mm-listitem">
                <a href="https://boxtechnologies.com/get-in-touch/" class="mm-listitem__text">
                  Get in touch
                </a>
              </li>
            </ul>
          </div>
          <div id="mm-0" class="mm-panel mm-hidden" aria-hidden="true">
            <div class="mm-navbar">
              <a class="mm-btn mm-btn_prev mm-navbar__btn" href="#mobile-menu" aria-haspopup="true" aria-owns="mobile-menu">
                <span class="mm-sronly">
                  Close submenu
                </span>
              </a>
              <a class="mm-navbar__title" href="#mobile-menu" aria-hidden="true">
                <span>
                  Who we help
                </span>
              </a>
            </div>
            <ul class="sub-menu mm-listview">
              <li id="menu-item-860" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-860 mm-listitem">
                <a href="https://boxtechnologies.com/who-we-help/gaming/" class="mm-listitem__text">
                  Gaming
                </a>
              </li>
              <li id="menu-item-861" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-861 mm-listitem">
                <a href="https://boxtechnologies.com/who-we-help/healthcare/" class="mm-listitem__text">
                  Healthcare
                </a>
              </li>
              <li id="menu-item-862" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-862 mm-listitem">
                <a href="https://boxtechnologies.com/who-we-help/hospitality/" class="mm-listitem__text">
                  Hospitality
                </a>
              </li>
              <li id="menu-item-863" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-863 mm-listitem">
                <a href="https://boxtechnologies.com/who-we-help/industry-4-0/" class="mm-listitem__text">
                  Industry 4.0
                </a>
              </li>
              <li id="menu-item-864" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-864 mm-listitem">
                <a href="https://boxtechnologies.com/who-we-help/retail/" class="mm-listitem__text">
                  Retail
                </a>
              </li>
            </ul>
          </div>
          <div id="mm-1" class="mm-panel mm-hidden" aria-hidden="true">
            <div class="mm-navbar">
              <a class="mm-btn mm-btn_prev mm-navbar__btn" href="#mobile-menu" aria-haspopup="true" aria-owns="mobile-menu">
                <span class="mm-sronly">
                  Close submenu
                </span>
              </a>
              <a class="mm-navbar__title" href="#mobile-menu" aria-hidden="true">
                <span>
                  Our technology
                </span>
              </a>
            </div>
            <ul class="sub-menu mm-listview">
              <li id="menu-item-838" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-838 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/access-control/" class="mm-listitem__text">
                  Access control
                </a>
              </li>
              <li id="menu-item-839" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-839 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/digital-signage/" class="mm-listitem__text">
                  Digital signage
                </a>
              </li>
              <li id="menu-item-840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-840 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/industrial-grade/" class="mm-listitem__text">
                  Industrial-grade
                </a>
              </li>
              <li id="menu-item-841" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-841 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/kitchen-management/" class="mm-listitem__text">
                  Kitchen management
                </a>
              </li>
              <li id="menu-item-842" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-842 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/medical-grade/" class="mm-listitem__text">
                  Medical-grade
                </a>
              </li>
              <li id="menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-843 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/mobility/" class="mm-listitem__text">
                  Mobility
                </a>
              </li>
              <li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/point-of-sale/" class="mm-listitem__text">
                  Point of sale
                </a>
              </li>
              <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/self-service/" class="mm-listitem__text">
                  Self-service
                </a>
              </li>
              <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846 mm-listitem">
                <a href="https://boxtechnologies.com/our-technology/touchscreens/" class="mm-listitem__text">
                  Touchscreens
                </a>
              </li>
            </ul>
          </div>
          <div id="mm-2" class="mm-panel mm-hidden" aria-hidden="true">
            <div class="mm-navbar">
              <a class="mm-btn mm-btn_prev mm-navbar__btn" href="#mobile-menu" aria-haspopup="true" aria-owns="mobile-menu">
                <span class="mm-sronly">
                  Close submenu
                </span>
              </a>
              <a class="mm-navbar__title" href="#mobile-menu" aria-hidden="true">
                <span>
                  Services
                </span>
              </a>
            </div>
            <ul class="sub-menu mm-listview">
              <li id="menu-item-849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-849 mm-listitem">
                <a href="https://boxtechnologies.com/services/implementation-services/" class="mm-listitem__text">
                  Implementation Services
                </a>
              </li>
              <li id="menu-item-850" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-850 mm-listitem">
                <a href="https://boxtechnologies.com/services/maintenance-and-support-services/" class="mm-listitem__text">
                  Maintenance &amp; Support Services
                </a>
              </li>
              <li id="menu-item-851" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-851 mm-listitem">
                <a href="https://boxtechnologies.com/services/procurement-supply-chain-management/" class="mm-listitem__text">
                  Procurement &amp; Supply Chain Management
                </a>
              </li>
              <li id="menu-item-852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-852 mm-listitem">
                <a href="https://boxtechnologies.com/services/professional-services/" class="mm-listitem__text">
                  Professional Services
                </a>
              </li>
              <li id="menu-item-853" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-853 mm-listitem">
                <a href="https://boxtechnologies.com/services/project-management/" class="mm-listitem__text">
                  Project Management
                </a>
              </li>
              <li id="menu-item-854" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-854 mm-listitem">
                <a href="https://boxtechnologies.com/services/technology-consulting/" class="mm-listitem__text">
                  Technology Consulting
                </a>
              </li>
              <li id="menu-item-855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-855 mm-listitem">
                <a href="https://boxtechnologies.com/services/technology-staging-configuration/" class="mm-listitem__text">
                  Technology Staging &amp; Configuration
                </a>
              </li>
              <li id="menu-item-856" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-856 mm-listitem">
                <a href="https://boxtechnologies.com/services/warehouse-logistics/" class="mm-listitem__text">
                  Warehouse &amp; Logistics
                </a>
              </li>
            </ul>
          </div>
          <div id="mm-3" class="mm-panel mm-hidden" aria-hidden="true">
            <div class="mm-navbar">
              <a class="mm-btn mm-btn_prev mm-navbar__btn" href="#mobile-menu" aria-haspopup="true" aria-owns="mobile-menu">
                <span class="mm-sronly">
                  Close submenu
                </span>
              </a>
              <a class="mm-navbar__title" href="#mobile-menu" aria-hidden="true">
                <span>
                  Why choose us?
                </span>
              </a>
            </div>
            <ul class="sub-menu mm-listview">
              <li id="menu-item-866" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-866 mm-listitem">
                <a href="https://boxtechnologies.com/why-choose-us/expert-insight/" class="mm-listitem__text">
                  Expert insight
                </a>
              </li>
              <li id="menu-item-867" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-867 mm-listitem">
                <a href="https://boxtechnologies.com/why-choose-us/case-studies/" class="mm-listitem__text">
                  Case studies
                </a>
              </li>
              <li id="menu-item-868" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-868 mm-listitem">
                <a href="https://boxtechnologies.com/why-choose-us/our-partners/" class="mm-listitem__text">
                  Our partners
                </a>
              </li>
              <li id="menu-item-869" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-869 mm-listitem">
                <a href="https://boxtechnologies.com/why-choose-us/our-strengths/" class="mm-listitem__text">
                  Our strengths
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <button class="site-navigation__mobile-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
        <path d="M0 0h20v2H0zm0 18h20v2H0zm0-9h20v2H0z" fill-rule="evenodd">
        </path>
      </svg>
    </button>
  </header>