<%- include('partials/nav.ejs')%>
<link rel="stylesheet" href="/stylesheets/fifth.css">

<div class="ser">
<section class="flexible content-block st-sm sb-sm snipcss-WYgoL">
    <header class="content-block__header sr-fade w-narrow style-GJabn" data-sr-id="2" id="style-GJabn">
      <h2>
        We live and breathe technology
      </h2>
    </header>
    <article class="content-block__content rich-text sr-fade ls1col w-narrow  style-twQoM" data-sr-id="3" id="style-twQoM">
      <div class="content-block__content-col">
        <p>
        </p>
        <p class="p1">
          When it comes to technology, you don’t just need a provider – you need a global innovator who understands technology from its fundamentals to its potential at the highest level. Why?
          <br>
          Because you need solutions that truly meet your needs, not the “closest fit”.
        </p>
        <p class="p1">
          Driven by a culture of innovation, we design, program and manufacture in-house, giving us a uniquely unified approach to problem solving. On top of this, we partner with the biggest names in technology – so we can consistently give you tailored, robust, end to end solutions at an expert level.
        </p>
      </div>
    </article>
  </section>
</div>
<div class="quicklinks-block__col rich-text sr-fade snipcss-L5SEN style-Fko5r" data-sr-id="20" id="style-Fko5r">
    <h2>
      Touchscreens
    </h2>
    <a class="btn btn__m-top sr-fade style-vnCQh" href="#" data-sr-id="21" id="style-vnCQh">
      Learn more
    </a>
  </div>
  <div class="quicklinks-block__col rich-text sr-fade snipcss-8vwYh style-xRofq" data-sr-id="6" id="style-xRofq">
    <h2>
      Medical-grade
    </h2>
    <a class="btn btn__m-top sr-fade style-SoMaN" href="#" data-sr-id="7" id="style-SoMaN">
      Learn more
    </a>
  </div>
  
  