<%- include('partials/nav.ejs')%>

<link rel="stylesheet" href="/stylesheets/second.css">
<div class="seek">
<section class="flexible content-block st-md sb-none snipcss-RXBil">
  <header class="content-block__header sr-fade w-narrow style-LFZYU" data-sr-id="2" id="style-LFZYU">
    <h2>
      Your problem-solving partner
    </h2>
  </header>
  <article class="content-block__content rich-text sr-fade ls1col w-narrow  style-HeoCX" data-sr-id="3" id="style-HeoCX">
    <div class="content-block__content-col">
      <h3>
        We solve business challenges with transformational technology and specialist services.
      </h3>
      <p>
        We do this across our core markets – Retail, Hospitality, Gaming, Healthcare and Industry 4.0 – and beyond. Combining our deep market knowledge with an extensive network of leading solution partners, we can develop the products, software and services needed to meet your challenges head on. Not only that, but we have the experience and knowledge to make sure every solution is fully accredited and fit for purpose in your market.
      </p>
    </div>
  </article>
</section>
</div>
<div class="quicklinks-block__col rich-text sr-fade snipcss-WX73M style-HB2Hw" data-sr-id="8" id="style-HB2Hw">
  <h2 style="color: black;">
    Healthcare
  </h2>
  <a class="btn btn__m-top sr-fade style-emFbj" href="#" data-sr-id="9" id="style-emFbj">
    Learn more
  </a>
</div>
<div class="quicklinks-block__col rich-text sr-fade snipcss-8toRG style-UsNL6" data-sr-id="10" id="style-UsNL6">
  <h2>
    gaming
  </h2>
  <a class="btn btn__m-top sr-fade style-Rh5ZZ" href="#" data-sr-id="11" id="style-Rh5ZZ">
    Learn more
  </a>
</div>

